@import '~style/helpers';

.home {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;

	h1 {
		font-size: 32px;
		font-weight: 500;
	}
}


@media all and (max-width: 480px) {
	.home {
		h1 {
			font-size: 23px;
		}
	}
}